.tetris {
  overflow: hidden;
  outline: none;
}

.tetris:focus {
  background-color: aliceblue;
}

.play-field-container {
  border: 4px solid lightgray;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.play-field {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #d3e4f3;
  font-size: 0;
}

.play-field td {
  margin: 0;
  padding: 1px;
  border: 0;
}

.play-field tr {
  margin: 0;
  padding: 0;
  border: 0;
}

.preview-box {
  border: 4px solid lightgray;
  position: relative;
  display: inline-block;
  width: 83px;
  height: 83px;
  float: left;
  margin-left: 3px;
  background-color: #ecfefc;
}

.preview-box-cell {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.I {
  background-color: cyan;
}

.O {
  background-color: yellow;
}

.T {
  background-color: purple;
}

.S {
  background-color: green;
}

.Z {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: orange;
}

.empty {
}
