.play-field {
    border-collapse: collapse;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #E8E8EE;
}

.I {
    background-color: red;
}

.O {
    background-color: blue;
}