.play-field {
  border-collapse: collapse;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.I {
  background-color: cyan;
}

.O {
  background-color: yellow;
}

.T {
  background-color: purple;
}

.S {
  background-color: green;
}

.Z {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: orange;
}

.empty {
  background-color: #E8E8EE;
}

.preview-box {
  border: 1px solid black;
}